<% provide :title, "Home" %>
<center>
  <h2>Home page</h2>
</center>

<h3> Admin user account </h3>
<h4> 
  Email: kendypham69@gmail.com <br />
  Password: 12345678
</h4>

<h3> Normal user account </h3>
<h4>
  Email: example-1@railstutorial.org <br />
  Password: password
</h4>