<% provide :title, "Checked Result" %>

<div class="row">
  <% if @exam.checked %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td>Question</td>
          <td>Answer</td>
          <td>Correct Answer</td>
          <td>Result</td>
        </tr>
        <% @exam.results.each do |result| %>
          <tr>
            <%= render 'show_question_data', result: result %>
            <td><%= result.right %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <h2><%= t :unchecked_exam_alert %></h2>
  <% end %>
</div>