<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <h1>User name: <%= @user.name %></h1>
      <h1>Email: <%= @user.email %></h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="history">
    <h3> All exams user have done and score </h3>
    <table class="table table-bordered">
      <tr>
        <td> Exam </td>
        <td> Score </td>
      </tr>
      <% @user.exams.each do |exam| %>
        <tr>
          <td>
            <%= exam.name %>
          </td>
          <td>
            <%= Exam.score_of exam.id %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>