<% if @exam.checked? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr> 
        <td> Question </td>
        <td> Correct answer </td>
        <td> Your answer </td>
        <td> Result </td>
      </tr>
      <% @exam.results.each do |result| %>
        <%= render 'result_content', result: result %>
      <% end %>
      <tr>
      Score: <%= @exam.results.score %>
      </tr>      
    </table>
  </div>
<% else %>
  <%= t :unchecked_exam_alert %>
<% end %>